

  .register-container {
    display: flex;
    color: #1C0733;
    margin-top: 50px;

  }
  .para{
    width: 500px;
    padding: 50px;
  }
  .register-form{
    background-color: #1C0733;
    margin-top: 50px;
    width: 500px;
    padding: 50px;
    border: 3px solid #1C0733;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    float: right;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: 550px;

    
  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; 
    
  }
  
  .button-container Button {
    margin-bottom: 10px;
    background-color: #1C0733;
    border:  #1C0733;;
  }
  